/**********************************Scroll Tracker*******************************/

.scroll-bar {
  position: sticky;
  left: 0;
  top: 67px;
  width: 100%;
  background-color: #1a086d;
  z-index: 25;
  overflow: hidden;

  @media (max-width: 1100px) {
    //top: 60px;
    // top: 85px;
  }

  @media (max-width: 768px) {
    top: 65px;
  }
}
.scroll-bar-inner {
  position: relative;
  width: 0%;
  background-color: $secondary-color;
  font-size: 5px;
  color: transparent;
}

/**********************************Navigation Dots*******************************/

.active-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: $secondary-color;
  position: absolute;
  top: 30px;
  //visibility: hidden;
  transition: all 1s ease-in-out;
  opacity: 0;
  box-shadow: 120px 80px 40px 20px rgb(225, 233, 233);
}

.active-dot:hover {
  opacity: 1;
  box-shadow: 120px 80px 40px 20px rgb(225, 233, 233);
}

.active-dot--current {
  //visibility: visible;
  opacity: 1;
  box-shadow: 120px 80px 40px 20px #0ff;
}

.circle--mooved {
  transform: scale(1.1);
}

/**********************************Button Slide*******************************/

.button__slide__right::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  //background-color: rgb(91, 168, 168);
  background-color: rgb(44, 137, 224);

  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 2px;
  //opacity: 0;
}

.button__slide__right:hover:before,
.button__slide__right:hover:focus::before {
  transform: scaleX(1);
}
.button__slide__right {
  z-index: 1;
  transition: color 300ms ease-in-out;
  // border-radius: 5px;
}

.button__slide__right:hover,
.button__slide__right:hover:focus {
  color: $primary-color;
}

/**********************************Swiper*******************************/
/*****************Smaller devices******************/
.mySwiper--smaller--devices {
  max-width: 280px;
  @media (min-width: 769px) {
    display: none;
  }
  @media (max-width: 768px) {
    height: 540px;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }

  .swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17);
  }

  .swiper-slide:nth-child(2n) {
    background-color: rgb(0, 140, 255);
  }

  .swiper-slide:nth-child(3n) {
    background-color: rgb(10, 184, 111);
  }
}

/*****************Bigger devices********************/

.mySwiper--bigger--devices {
  @media (max-width: 768px) {
    display: none;
  }
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  .swiper-pagination {
    position: relative;
    color: rgb(255, 166, 0);
    // filter: invert(52%) sepia(99%) saturate(375%) hue-rotate(355deg)
    //   brightness(89%) contrast(90%);
    filter: invert(43%) sepia(97%) saturate(394%) hue-rotate(335deg)
      brightness(91%) contrast(92%);
  }

  .swiper-slide {
    padding: 20px;
    gap: 25px;
    height: 430px;
    color: #ffffff;
    border-radius: 10px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 400px;

    .jump--p {
      font-weight: 900;
      border: 3px solid $primary-color;
      border-radius: 5px;
      padding: 8px;
      position: relative;
    }
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
}
