@import "../../../scss/config";
@import "../../../scss/utilities";
@import "../../../scss/buttons";
@import "../../../scss/animations";
@import "../../../scss/components/header";
@import "../../../scss/components/footer";

@font-face {
  font-family: "Sailec";
  src: url("../../../fonts/Sailec\ Regular.otf") format("opentype");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sailec";
  src: url("../../../fonts/Sailec\ Bold.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

$font-stack: "Sailec";

// $primary-color: #000066;
// $secondary-color: #cc6633;

* {
  font-family: $font-stack;
  color: #ffffff;
  box-sizing: border-box;
}

/***********************************Main**********************************/

main {
  position: relative;
  overflow: hidden;
  text-align: center;

  background-image: url("../../../img/industry-report-hero.svg");
  background-size: 100%;
  background-position: 8% 0%;
  background-repeat: no-repeat;
  background-origin: border-box;

  @media (max-width: 550px) {
    //height: 60vh;
    background-image: url("../../../img/dots-hero.svg");
    // background-position: 0% -77%;
    background-position: 6% 0%;

    background-size: 100%;
  }

  @media (max-width: 450px) {
    background-position: 6% 0%;
    //background-size: cover;
  }
}

/***********************************Blogs-Boxes-Section**********************************/
.blog__boxes__section {
  overflow: hidden;
  padding: 120px 30px 120px;
  border-bottom: 1px solid rgb(182, 182, 182);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;

  @media (max-width: 768px) {
    padding: 80px 30px 40px;
    gap: 60px;
  }
}
.blogs__container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  gap: 40px;

  @media (max-width: 768px) {
    flex-wrap: wrap;
  }

  .blog__container-box {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    transition: all 0.3s ease-in-out;
    color: $primary-color;
    font-size: 18px;
    font-weight: 900;

    @media (max-width: 550px) {
      width: 300px;
    }
  }

  .blog__box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 25px;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
    height: 430px;
    //flex-basis: 30%;
    max-width: 300px;
    //min-width: 200px;
    color: #ffffff;
    border-radius: 10px;

    .jump--p {
      font-weight: 900;
      border: 3px solid $primary-color;
      border-radius: 5px;
      padding: 8px;
      position: relative;
    }
  }

  .blog__container-box:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
  }
}

#blog-box-1 {
  background-color: $secondary-color;
}
#blog-box-2 {
  background-color: rgb(117 0 209);
}
#blog-box-3 {
  background-color: rgb(62 138 134);
}

/***********************************Blogs-Boxes-Section**********************************/

.blog__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 50px 30px;
  text-align: left;
  background-color: $primary-color;

  .blog__heading {
    margin: 100px auto 150px;
    text-align: left;

    @media (max-width: 768px) {
      margin: 80px auto 50px;
    }
  }

  p {
    max-width: 800px;
    font-size: 20px;

    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 26px;
    }

    @media (max-width: 480px) {
      font-size: 16px;
    }
  }

  h4 {
    font-size: 20px;
    font-weight: 900;
    text-decoration: underline;
    max-width: 800px;
    text-align: left;
  }

  ul {
    font-size: 20px;
    max-width: 800px;
    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 26px;
    }

    @media (max-width: 480px) {
      font-size: 16px;
    }

    li {
      margin-top: 10px;
    }
  }
}
